* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}


.container-ganas-porque-ganas {
  width: 50.31rem;
  background-image: url("https://pmi--c.documentforce.com/sfc/dist/version/renditionDownload?rendition=ORIGINAL_Png&versionId=0684H00000HUUJj&operationContext=DELIVERY&contentId=05T4H00000uYp3l&page=0&d=/a/4H00000263Ch/RA8uWuh8cYp3WYKWPPoF636UinsSXC6CA4vNBNHK0nY&oid=00D58000000cA7m&dpt=null&viewId=");
  height: 116.12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.ganas-porque-ganas-logo {
  width: 28.43rem;
  height: 21.75rem;
  margin-top: 2.18rem;
}

.ganas-porque-ganas-nuevo-concurso {
  width: 27rem;
  height: 3.18rem;
  margin-top: 2.31rem;
}

.ganas-porque-ganas-text {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  margin-top: 1.75rem;
  font-size: 2rem;
  line-height: 2.37rem;
  width: 35.25rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
}

.ganas-porque-ganas-text-2 {
  margin-top: 1.93rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 2.25rem;
  line-height: 2.68rem;
  text-align: center;
  text-transform: uppercase;
  color: #FDD95B;
}

.ganas-porque-ganas-premios {
  margin-top: 1.18rem;
}

.ganas-porque-ganas-detalle-premios {
  width: 19.75rem;
  font-family: Rubik;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-align: center;
  text-transform: uppercase;
  color: #FDD95B;
  margin-top: 1.25rem;
}

.ganas-porque-ganas-participar {
  margin-top: 1.62rem;
  width: 25.62rem;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.37rem;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.ganas-porque-ganas-como {
  width: 35.18rem;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  margin-top: 1.68rem;
}

.ganas-porque-ganas-title {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-top: 1.18rem;
}


.ganas-porque-ganas-pasos {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 1.37rem;
  line-height: 1.62rem;
  text-transform: uppercase;
  width: 31.25rem;
  color: #fff;
  margin: 18px auto 19px;
}

.ganas-porque-ganas-chance {
  width: 44.37rem;
  margin-top: 2.56rem;
}

.ganas-porque-ganas-chance-text {
  font-family: Rubik;
  font-style: italic;
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 2.68rem;
  text-transform: uppercase;
  color: #fff;
}

.ganas-porque-ganas-cta {
  background: #fff;
  border: none;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #000 !important;
  width: 12.5rem;
  padding: 10px;
  border-radius: 12px;
  display: block;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
}


.ganas-porque-ganas-cta:hover {
  background: #000;
  color: #ffffff !important;
}

.ganas-porque-ganas-no-te-pierdas {
  width: 44.37rem;
  display: flex;
  justify-content: flex-end;
}

.ganas-porque-ganas-no-te-pierdas-text {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 2.18rem;
  line-height: 2.56rem;
  text-align: center;
  text-transform: uppercase;
  color: #FF0000;
  width: 18.43rem;
}

@media (min-width: 280px) and (max-width: 576px) {
  .container-ganas-porque-ganas {
    width: 100%;
  }

  .ganas-porque-ganas-logo {
    width: 85%;
    margin-top: 1rem;
    height: auto;
  }

  .ganas-porque-ganas-nuevo-concurso {
    width: 80%;
    height: auto;
    margin-top: 1.31rem;
  }

  .ganas-porque-ganas-text {
    width: 85%;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .ganas-porque-ganas-text-2{
    width: 90%;
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .ganas-porque-ganas-premios{
    width: 85%;
  }

    .ganas-porque-ganas-detalle-premios{
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 6rem;
  }

  .ganas-porque-ganas-participar{
    width: 90%;
    font-size: 1.5rem;
    line-height: 2rem;
  }

    .ganas-porque-ganas-como {
    width: 90%;
  }

  .ganas-porque-ganas-title{
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .ganas-porque-ganas-pasos {
    width: 85%;
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .ganas-porque-ganas-chance {
    width: 90%;
    margin-bottom: 2rem;
  }

  .ganas-porque-ganas-chance-text{
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .ganas-porque-ganas-no-te-pierdas {
    width: 95%;
    margin-top: 5px;
    /* display: none; */
  }

  .ganas-porque-ganas-no-te-pierdas-text {
    width: 60%;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #fff;
  }
}